#!/bin/bash

#logger "step-ca-leaf - Master Cert Mgmt - Beginning master cert management..."
CERT_PATH="{{ smallstep_root_directory }}"
CERT_OPS_LOG="$CERT_PATH/renewal_logs.txt"
CERT_FOLDER="$CERT_PATH/*.crt"
CERT_SCRIPTS_FOLDER="{{ smallstep_cert_mgmt_dir }}"

for cert_name in $CERT_FOLDER
do
        CERT_BASE_NAME=$(basename -- "$cert_name" .crt)
        
        #logger "step-ca-leaf - Master Cert Mgmt - Managing $CERT_BASE_NAME..."

        CURRENT_DTG=$(date +"%Y-%m-%d - %T")

        #printf -v date '%(%Y-%m-%d)T\n' -1 
        CERT_VALID_FROM=$(step certificate inspect $CERT_PATH/$CERT_BASE_NAME.crt --short | tail -n 2 | head -n 1 | cut -c 16- | sed 's/T/ - /g')
        CERT_VALID_TO=$(step certificate inspect $CERT_PATH/$CERT_BASE_NAME.crt --short | tail -n 1 | | cut -c 16- | sed 's/T/ - /g')


        echo "Current time is: $CURRENT_DTG. Cert is valid from: $CERT_VALID_FROM to $CERT_VALID_TO"
        # Check for expiration
        # Print current time, validity timelin

        # If cert needs renewal
            # Renew


            # Move certs to wherever they need to go
            /bin/bash $CERT_SCRIPTS_FOLDER/($CERT_BASE_NAME)_postrenewal_movecerts.sh

            # Restart any necessary services
            /bin/bash $CERT_SCRIPTS_FOLDER/($CERT_BASE_NAME)_postrenewal_restartdeps.sh
        
        # Else

            # Print no renewal needed yet

        #logger "step-ca-leaf - Master Cert Mgmt - $CERT_BASE_NAME complete"

done

#logger "step-ca-leaf - Master Cert Mgmt - All Certs Complete"
