#!/bin/bash
CERT_NAME=$1
logger "step-ca-leaf - $CERT_NAME - Restarting Dependencies - Managing / Restarting Dependent Services..."
echo "step-ca-leaf - $CERT_NAME - Restarting Dependencies - Managing / Restarting Dependent Services..."

# BEGIN ANSIBLE MANAGED BLOCK

# END ANSIBLE MANAGED BLOCK

echo "step-ca-leaf - $CERT_NAME - Restarting Dependencies - Managing / Restarting Dependent Services Complete"
logger "step-ca-leaf - $CERT_NAME - Restarting Dependencies - Managing / Restarting Dependent Services Complete"
